.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header */
header {
    width: calc(1180 / 1440 * 100%);
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 6px 0;
    align-items: center;
}
.burger_menu{
    display: none;
}

.header_div1 {
    display: flex;
    align-items: center;
}

.header_link {
    color: #FA793C;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
    margin-left: 14px;
}

.nav_div {
    display: flex;
}

ul {
    display: flex;
    column-gap: 32px;
}
.nav_text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.fa-regular {
    font-size: 20px;
}
nav {
    display: flex;
}

.fa-circle-user {
    margin-left: 40px;
}

/* section1 */
.section_1 {
    background-image: url("../image/section1_cover.png");
    height: 550px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 185px 130px 186px;
    margin-bottom: 130px;
    background-position: center;
}

.section1_div {
    text-align: center;
}

.section1_h2 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
}
.section1_p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}
/* section2 */
.section_2 {
    width: calc(1180 / 1440 * 100%);
    margin: auto;
    margin-bottom: 130px;

}
.section2_h3 {
    margin-bottom: 34px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}
.card_div {
    display: flex;
    column-gap: 20px;
}
.card_img1,
.card_img2,
.card_img3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_1,
.card_2,
.card_3 {
    border: 1px solid #000000;
}
h4 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.card_3p,
.card_2p,
.card_1p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}
.card_text {
    margin: 16px;
}
/* section 3 */
.section_3 {
    width: calc(1180 / 1440 * 100%);
    margin: auto;
    margin-bottom: 130px;

}
.image_1 {
    display: flex;
}
.section3_h3 {
    margin-bottom: 34px;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: #000000;
}
.section3_div {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 20px;
}
.image_1,
.image_2,
.image_3 {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.image_div {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}
/* footer */
footer {
    background-color: #000000;
    padding: 31px;
    display: flex;
    justify-content: center;
}
.footer_div {
    display: flex;
    align-items: center;
}
.footer_link {
    color: #FFFFFF;
    margin-left: 14px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.9px;
}